[submodule "Nuake/dependencies/assimp"]
	path = Nuake/dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Nuake/dependencies/JoltPhysics"]
	path = Nuake/dependencies/JoltPhysics
	url = https://github.com/antopilo/JoltPhysics.git
[submodule "Nuake/dependencies/soloud"]
	path = Nuake/dependencies/soloud
	url = https://github.com/antopilo/soloud.git
[submodule "Nuake/dependencies/Coral"]
	path = Nuake/dependencies/Coral
	url = https://github.com/antopilo/Coral.git
[submodule "Nuake/dependencies/recastnavigation"]
	path = Nuake/dependencies/recastnavigation
	url = https://github.com/antopilo/recastnavigation.git
[submodule "Nuake/dependencies/tracy"]
	path = Nuake/dependencies/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Nuake/dependencies/msdf-atlas-gen"]
	path = Nuake/dependencies/msdf-atlas-gen
	url = https://github.com/antopilo/msdf-atlas-gen.git
[submodule "Nuake/dependencies/yoga"]
	path = Nuake/dependencies/yoga
	url = https://github.com/facebook/yoga.git
[submodule "Nuake/dependencies/freetype"]
	path = Nuake/dependencies/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Nuake/dependencies/entt"]
	path = Nuake/dependencies/entt
	url = https://github.com/skypjack/entt.git
[submodule "Nuake/dependencies/glfw"]
	path = Nuake/dependencies/glfw
	url = https://github.com/antopilo/glfw.git
[submodule "Nuake/dependencies/vma"]
	path = Nuake/dependencies/vma
	url = https://github.com/antopilo/VulkanMemoryAllocatorPremake5.git
