.screen {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.bottom {
    width: 100%;
    height: 30px;
    background-color: 25 25 25 255;
}

.toolbar {
    width: 100%;
    height: 50px;
    background-color: 25 25 25 255;
    flex-direction: row;
    align-content: center;
}

.toolbar-group-left {
    width: 50%;
    height: 50px;
    background-color: 25 25 25 255;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}

.component-view {
    margin: 0px 0px 0px 16px;
}

.splitter:hover {
    background-color: 128 0 0 255;
}

.toolbar-group-right {
    width: 50%;
    height: 50px;
    background-color: 25 25 25 255;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}

.toolbar-button {
    height: 42px;
    width: 42px;
    background-color: 255 25 25 255;
    margin: 0px 4px 0px 0px;
}

.viewport {
    width: 20%;
    height: 100%;
    background-color: 12 12 12 255;
}

.viewport-tool-bar {
    margin: 8px 8px 8px 8px;
    flex-direction: row;
    width: 100%;
}

.viewport-tool-test {
    background-color: 25 25 25 255;
    height: 25px;
    width: 100px;
    margin: 0px 8px;
    align-content: center;
}

.inspector {
    width: 20%;
    height: 100%;
    min-width: 100px;
    flex-direction: column;
    padding: 8px 8px 8px 8px;
}

.middle {
    width: 100%;
    height: 80%;
}

.action-menu {
    background-color: 25 25 25 255;
}

.action-menu-item {
    margin: 0px 8px 0px 2px;
    width: 60px;
    height: 100%;

    justify-content: flex-start;
    align-content: center;
}

.action-menu-item:hover {
    
   background-color: 255 0 0 255;
}